body{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    
   
}

canvas{
    display: block;
    border: solid black 1px;
    height: 200px;
    margin: auto;
}

button{
    display: block;
    margin: 2em;
}